@font-face {
    font-family: IndieFlower;
    src: url(IndieFlower.ttf);
}

html, body {
  height: 90%;
  margin: 0px;
  padding: 0px;
  top: 0px;
  left: 0px;
}
body{
	background-color: #3498db;
}


/* RESPONSIVE */
@media (min-width: 200px) {
	div#menu{
		position: absolute;
		padding-left: 30px; padding-right: 30px;
		padding-bottom: 50px; padding-top: 20px;
		width: 85%;
		height: 85%;
		top: 0; left: 0; right: 0; bottom: 0; 
	    margin: auto;
	    text-align: center;
	    background-color: #3498db;
	    display: block; 
	}
	h1{
		text-align: center;
		font-family: "IndieFlower";
		font-size: 30px;
	}
	button{
		font-family: "IndieFlower";
		font-size: 20px;
		color:white;
		text-align: center;
		background-color: #e74c3c;
		border-color: #c0392b;
		padding: 10px;
		border-radius: 5px;
		outline: none;
		margin: 20px;
		width: 40%;
		z-index: 9999;
	}
	.front{
		position: absolute;
	    top:0;
	    bottom: 0;
	    left: 0;
	    right: 0;
	    margin: auto;
	}
}
@media (min-width: 600px) {
	div#menu{
	position: relative;
	padding-left: 30px; padding-right: 30px;
	padding-bottom: 50px; padding-top: 20px;
	width: 60%;
	height: 90%;
    margin: 0 auto;
    text-align: center;
    background-color: #3498db;

    display: block; /* fix for opera and ff */

	}
	h1{
		text-align: center;
		font-family: "IndieFlower";
		font-size: 30px;
	}
	button{
		font-family: "IndieFlower";
		font-size: 20px;
		color:white;
		text-align: center;
		background-color: #e74c3c;
		border-color: #c0392b;
		padding: 10px;
		border-radius: 5px;
		outline: none;
		margin: 20px;
		width: 30%;
		z-index: 9999;
	}
}
@media (min-width: 1000px) {
	div#menu{
	position: relative;
	padding-left: 30px; padding-right: 30px;
	padding-bottom: 50px; padding-top: 20px;
	width: 50%;
	height: 80%;
    margin: 0 auto;
    text-align: center;
    background-color: #3498db;

    display: block; /* fix for opera and ff */

	}
	h1{
		text-align: center;
		font-family: "IndieFlower";
		font-size: 30px;
	}
	button{
		font-family: "IndieFlower";
		font-size: 20px;
		color:white;
		text-align: center;
		background-color: #e74c3c;
		border-color: #c0392b;
		padding: 10px;
		border-radius: 5px;
		outline: none;
		margin: 20px;
		width: 30%;
		z-index: 9999;
	}
}
/* END RESPONSIVE */

span#tamere{
	text-align: left;
	position: absolute;
	top:0; left:0;
	z-index: 0;
	opacity: 0.5;
}
#menu .front {
    display: block;
    z-index: 5;
    position: relative;
}
#front .behind_container {
    position: relative;
    top: -18px;
}
#front .behind {
    display: block;
    z-index: 3;
}


