@font-face {
    font-family: IndieFlower;
    src: url(IndieFlower.ttf);
}
body{
	background-color: #2980b9;
	font-family: "IndieFlower";
}
.credits{
	display: block;
	margin: 0 auto;
	padding: 20px;
	border:solid;
	text-align: center;
	background-color: #3498db;
}
.credits .section ul
{
    list-style-type: none;
}
.credits button{
	float: left;
}
button{
	font-family: "IndieFlower";
	color:white;
	text-align: center;
	background-color: #e74c3c;
	border-color: #c0392b;
	padding: 5px;
	border-radius: 5px;
	outline: none;
	width: 10%;
	z-index: 9999;
	font-size: 80%;
}

/* RESPONSIVE */
@media (min-width: 200px) {
	.credits{
		width: 85%;
	}
	button{
		width: 20%;
	}
}
@media (min-width: 600px) {
	.credits{
		width: 65%;
	}
	button{
		width: 15%;
	}
}
@media (min-width: 1000px) {
	.credits{
		width: 45%;
	}
	button{
		width: 10%;
	}
}
/* END RESPONSIVE */
